<h1>Olá</h1>
<p>Você solicitou a recuperação de sua senha. Clique no link abaixo para redefinir sua senha:</p>
<a href="<%= @reset_password_url %>">Redefinir Senha</a>
<p>Se você não solicitou esta alteração, ignore este e-mail.</p>