.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forgotPassword {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  a {
    color: var(--blue-dark);
    font-weight: 500;

    &:hover {
      color: var(--blue) 
    }
  }
}