.form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  > button {
    width: 100px;
  }

}

@media(max-width: 700px) {
  .form {
    display: flex;
    flex-direction: column;
    
    > button {
      width: 100%;
    }
  }
}